[Unit]
Description=Run backup script twice a day 

[Timer]
OnBootSec=5min
OnCalendar=*-*-* 00,12:00:00
Unit=backup.service

[Install]
WantedBy=timers.target
