[Unit]
Description=Backup git
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/oscar/git-mirror/mirror.sh

