[Unit]
Description=Run Dynamic DNS Update Every day 

[Timer]
OnBootSec=5min
OnCalendar=*-*-* 00,12:00:00
Unit=backup-forgejo.service

[Install]
WantedBy=timers.target
