services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.6
    container_name: jellyfin
    group_add:
      - "989"
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.jellyfin.entrypoints: websecure
      traefik.http.routers.jellyfin.rule: Host(`jellyfin.oscarcorner.com`)
      traefik.http.services.jellyfin.loadbalancer.server.port: 8096
      traefik.http.routers.jellyfin.tls.certresolver: route53

    volumes:
      - /home/oscar/jellyfin/config:/config
      - /mnt/main/jellyfin/cache:/cache
      - type: bind
        source: /mnt/nas/media
        target: /media
    restart: "unless-stopped"
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=http://media.home.com
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    runtime: nvidia
    networks:
      - reverse-proxy-network
    devices:
      - /dev/dri/renderD128:/dev/dri/renderD128
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
networks:
  default:
    driver: host
  reverse-proxy-network:
    external: true
