volumes:
  pihole:
  dnsmasq:

services:
  pihole:
    env_file: "pihole.env"
    container_name: pihole
    image: pihole/pihole:2025.06.0
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    networks:
      - default
      - reverse-proxy-network
    environment:
      TZ: "Europe/London"
      # If using Docker's default `bridge` network setting the dns listening mode should be set to 'all'3
      FTLCONF_dns_listeningMode: "all"
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.pihole.entrypoints: websecure
      traefik.http.routers.pihole.rule: Host(`pihole.oscarcorner.com`)
      traefik.http.services.pihole.loadbalancer.server.port: 80
      traefik.http.routers.pihole.tls.certresolver: route53
      traefik.http.routers.pihole.tls: true
      traefik.http.routers.pihole.service: pihole
      traefik.docker.network: reverse-proxy-network
    volumes:
      - "pihole:/etc/pihole"
      - "dnsmasq:/etc/dnsmasq.d"
    restart: unless-stopped

  unbound:
    image: mvance/unbound:latest
    networks:
      default:
        ipv4_address: 172.21.200.3 # <-- this is used by pihole as upstream DNS
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./unbound/unbound.conf:/etc/unbound/unbound.conf:ro
    restart: unless-stopped

networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.21.200.0/24
          gateway: 172.21.200.1
          ip_range: 172.21.200.0/24
  reverse-proxy-network:
    external: true
