[Unit]
Description=Dynamic DNS Update Service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/oscar/ddns/ddns.sh
