#SPDX-License-Identifier: MIT-0
---
# tasks file for docker
#
- name: Find local docker service directories
  delegate_to: localhost
  run_once: true
  find:
    paths: "/home/oscar/projects/iac/docker/"
    recurse: no
    file_type: directory
  register: local_docker_compose
- name: Create docker service directories on remote
  file:
    path: "{{ (item.path | split('/'))[6] }}"
    state: directory
  loop: "{{ local_docker_compose.files }}"
- name: Copy all docker files and folders to remote
  copy:
    src: "{{ item.path }}/"
    dest: "{{ (item.path | split('/'))[6] }}/"
    mode: preserve
    owner: "oscar"
    group: "oscar"
    directory_mode: "0755"
  loop: "{{ local_docker_compose.files }}"

- name: Find shell scripts in docker directories
  find:
    paths: "{{ (item.path | split('/'))[6] }}"
    patterns: "*.sh"
    recurse: true
  loop: "{{ local_docker_compose.files }}"
  register: shell_scripts
  ignore_errors: true

- name: Ensure shell scripts are executable
  file:
    path: "{{ item.path }}"
    mode: "0755"
    owner: "oscar"
    group: "oscar"
  loop: "{{ shell_scripts.results | selectattr('files', 'defined') | map(attribute='files') | flatten }}"
  when: shell_scripts.results is defined
- name: Run docker compose up
  community.docker.docker_compose_v2:
    project_src: "{{ (item.path | split('/'))[6] }}"
    remove_orphans: true
    remove_volumes: true
  loop: "{{ local_docker_compose.files }}"
  register: output
- name: show results
  ansible.builtin.debug:
    var: output

- name: Print
  ansible.builtin.debug:
    msg: path "{{ (item.path | split('/'))[6] }}/docker-compose.yaml, {{ item.path }}"
  loop: "{{ local_docker_compose.files }}"
