#SPDX-License-Identifier: MIT-0
---
# tasks file for docker
#
- name: Find local docker compose files
  delegate_to: localhost
  run_once: true
  find:
    paths: "/home/oscar/projects/iac/docker/"
    recurse: no
    file_type: directory
  register: local_docker_compose
- name: Makes sure all docker dirs exisxts
  file:
    path: "{{ (item.path | split('/'))[6] }}"
    state: directory
  loop: "{{ local_docker_compose.files }}"
- name: Copy all docker files to remote
  copy:
    src: "{{ item.path }}/"
    dest: "{{ (item.path | split('/'))[6] }}/"
    mode: "0644"
    owner: "oscar"
    group: "oscar"
  loop: "{{ local_docker_compose.files }}"
- name: Run docker compose up
  community.docker.docker_compose_v2:
    project_src: "{{ (item.path | split('/'))[6] }}"
    remove_orphans: true
    remove_volumes: true
  loop: "{{ local_docker_compose.files }}"
  register: output
- name: show results
  ansible.builtin.debug:
    var: output

- name: Print
  ansible.builtin.debug:
    msg: path "{{ (item.path | split('/'))[6] }}/docker-compose.yaml, {{ item.path }}"
  loop: "{{ local_docker_compose.files }}"
