%YAML 1.1
---
# Define reusable blocks
x-common-env: &common-environment
  - PUID=${PUID}
  - PGID=${PGID}
  - TZ=${TZ}

x-common-restart: &common-restart
  restart: unless-stopped

x-reverse-proxy-network: &reverse-proxy-network
  networks:
    - reverse-proxy-network

x-common-path: &common-paths
  - /mnt/main/downloads/torrent:/downloads/torrent
  - /mnt/main/downloads/usenet:/downloads/usenet # optional

services:
  gluetun:
    cap_add:
      - NET_ADMIN
    container_name: gluetun
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - TZ=Europe/London
      - VPN_SERVICE_PROVIDER=airvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_PRESHARED_KEY=${WIREGUARD_PRESHARED_KEY}
      - FIREWALL_VPN_INPUT_PORTS=6147
      - WIREGUARD_ADDRESSES=10.145.70.146/32
    image: qmcgaw/gluetun:v3.41.1@sha256:1a5bf4b4820a879cdf8d93d7ef0d2d963af56670c9ebff8981860b6804ebc8ab
    networks:
      - reverse-proxy-network
    ports:
      - 6881:6881/udp
      - 6881:6881/tcp
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.http.routers.torrent.service: torrent
      traefik.http.routers.torrent.entrypoints: websecure
      traefik.http.routers.torrent.rule: Host(`torrent.oscarcorner.com`)
      traefik.http.services.torrent.loadbalancer.server.port: 7979
      traefik.http.routers.torrent.tls.certresolver: route53
  qbittorrent:
    image: linuxserver/qbittorrent:5.1.4-r2-ls440@sha256:dfa75bc534ad4f36262f75b5c1d4c4f0ddd5e7ed5711ebc581c70920cce204ee
    container_name: qbittorrent
    depends_on:
      - gluetun
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=7979
    network_mode: service:gluetun
    <<: *common-restart
    volumes:
      - ./configs/qbittorrent:/config
      - /mnt/main/downloads:/downloads

  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4@sha256:6d3e68474ea146f995af98d3fb2cb1a14e2e4457ddaf035aa5426889e2f9249c
    container_name: radarr
    environment: *common-environment
    <<: [*reverse-proxy-network, *common-restart]
    ports:
      - 7878:7878
    volumes:
      - ./configs/radarr:/config
      - /mnt/nas/media/movies:/movies # optional
      - /mnt/main/downloads/:/downloads
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.radarr.entrypoints: websecure
      traefik.http.routers.radarr.rule: Host(`radarr.oscarcorner.com`)
      traefik.http.services.radarr.loadbalancer.server.port: 7878
      traefik.http.routers.radarr.tls.certresolver: route53

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.3.0@sha256:e74a1e093dcc223d671d4b7061e2b4946f1989a4d3059654ff4e623b731c9134
    container_name: prowlarr
    environment: *common-environment
    <<: [*reverse-proxy-network, *common-restart]
    ports:
      - 9696:9696
    volumes:
      - ./configs/prowlarr:/config
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.prowlarr.entrypoints: websecure
      traefik.http.routers.prowlarr.rule: Host(`prowlarr.oscarcorner.com`)
      traefik.http.services.prowlarr.loadbalancer.server.port: 9696
      traefik.http.routers.prowlarr.tls.certresolver: route53

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:5.0.0-unstable@sha256:13b25a876b2bcf568cdd38032b0066d94bb69ae3a3abef6f5b91b907986c5b37
    container_name: sabnzbd
    depends_on:
      - gluetun
    environment: *common-environment
    <<: [*reverse-proxy-network, *common-restart]
    labels:
      traefik.enable: true
      traefik.http.routers.sabnzbd.entrypoints: websecure
      traefik.http.routers.sabnzbd.rule: Host(`sabnzbd.oscarcorner.com`)
      traefik.http.services.sabnzbd.loadbalancer.server.port: 8080
      traefik.http.routers.sabnzbd.tls.certresolver: route53
    volumes:
      - ./configs/sabnzbd:/config
      - /mnt/main/downloads/usenet:/downloads/usenet
      - /mnt/main/downloads/incomplete:/incomplete-downloads

  sonarr-anime:
    image: lscr.io/linuxserver/sonarr:4.0.16@sha256:37be832b78548e3f55f69c45b50e3b14d18df1b6def2a4994258217e67efb1a1
    container_name: sonarr-anime
    environment: *common-environment
    <<: [*reverse-proxy-network, *common-restart]
    ports:
      - 8990:8989

    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.sonarr-anime.entrypoints: websecure
      traefik.http.routers.sonarr-anime.rule: Host(`sonarr-anime.oscarcorner.com`)
      traefik.http.services.sonarr-anime.loadbalancer.server.port: 8989
      traefik.http.routers.sonarr-anime.tls.certresolver: route53

    volumes:
      - ./configs/sonarr-anime:/config
      - /mnt/nas/media/anime-shows:/tv
      - /mnt/main/downloads/torrent:/downloads/torrent
      - /mnt/main/downloads/usenet:/downloads/usenet # optional

  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.16@sha256:37be832b78548e3f55f69c45b50e3b14d18df1b6def2a4994258217e67efb1a1
    container_name: sonarr
    environment: *common-environment
    <<: [*reverse-proxy-network, *common-restart]
    ports:
      - 8989:8989
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.sonarr.entrypoints: websecure
      traefik.http.routers.sonarr.rule: Host(`sonarr.oscarcorner.com`)
      traefik.http.services.sonarr.loadbalancer.server.port: 8989
      traefik.http.routers.sonarr.tls.certresolver: route53

    volumes:
      - ./configs/sonarr:/config
      - /mnt/nas/media/shows:/tv
      - /mnt/main/downloads/torrent:/downloads/torrent
      - /mnt/main/downloads/usenet:/downloads/usenet # optional
  calibre:
    image: lscr.io/linuxserver/calibre:9.3.1@sha256:4b91f11ba689ee72891360d625caf043b04541e1c4ab0723ed3e377123c579c8
    container_name: calibre
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}

      - CLI_ARGS=-auth-mode=basic # optional
    <<: [*reverse-proxy-network, *common-restart]
    ports:
      - 8083:8080
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.calibre.entrypoints: websecure
      traefik.http.routers.calibre.rule: Host(`calibre.oscarcorner.com`)
      traefik.http.services.calibre.loadbalancer.server.port: 8080
      traefik.http.routers.calibre.tls.certresolver: route53

    volumes:
      - ./configs/calibre:/config
      - ./configs/calibre-books:/oscar-lib
      - /mnt/nas/media/books:/books
  calibre-web:
    image: lscr.io/linuxserver/calibre-web:0.6.26-ls369@sha256:95fa0d0d07bf1be2404236222a882a467431f34ee35ad29b6e7b3b4bca3b0376
    container_name: calibre-web
    environment: *common-environment
    <<: [*reverse-proxy-network, *common-restart]
    volumes:
      - /mnt/nas/media/books:/books
      - ./configs/calibre-web/data:/config
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.calibre-web.entrypoints: websecure
      traefik.http.routers.calibre-web.rule: Host(`calibre-web.oscarcorner.com`)
      traefik.http.services.calibre-web.loadbalancer.server.port: 8083
      traefik.http.routers.calibre-web.tls.certresolver: route53

  bazarr:
    image: lscr.io/linuxserver/bazarr:1.5.5@sha256:1cf40186b1bc35bec87f4e4892d5d8c06086da331010be03e3459a86869c5e74
    container_name: bazarr
    environment: *common-environment
    <<: [*reverse-proxy-network, *common-restart]
    ports:
      - 6767:6767
    volumes:
      - ./configs/bazarr:/config
      - /mnt/nas/media/movies:/movies
      - /mnt/nas/media/shows/anime:/tv
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.bazarr.entrypoints: websecure
      traefik.http.routers.bazarr.rule: Host(`bazarr.oscarcorner.com`)
      traefik.http.services.bazarr.loadbalancer.server.port: 6767
      traefik.http.routers.bazarr.tls.certresolver: route53
  navidrome:
    image: deluan/navidrome:0.60.3@sha256:a5dce8f33304714dd138e870cca0dcab3d937ca236be1a9f2b97da009d1a0048
    user: 1000:1000 # should be owner of volumes
    container_name: navidrome
    ports:
      - "4533:4533"
    <<: [*reverse-proxy-network, *common-restart]
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.navidrome.entrypoints: websecure
      traefik.http.routers.navidrome.rule: Host(`navidrome.oscarcorner.com`)
      traefik.http.services.navidrome.loadbalancer.server.port: 4533
      traefik.http.routers.navidrome.tls.certresolver: route53
    environment:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info
      ND_SESSIONTIMEOUT: 24h
      ND_BASEURL: "https://navidrome.oscarcorner.com"
    volumes:
      - "./configs/navidrome:/data"
      - "/mnt/nas/media/music:/music:ro"
  cleanuparr:
    image: ghcr.io/cleanuparr/cleanuparr:2.7.0@sha256:87a79ad5598240bbd1a16ebf8476e0a702140bb34d9ff64ccfa5f65780ee9cd4
    container_name: cleanuparr
    restart: unless-stopped
    ports:
      - "11011:11011"
    volumes:
      - ./configs/cleanuparr:/config
    <<: [*reverse-proxy-network, *common-restart]
    environment:
      - PORT=11011
      - PUID=1000
      - PGID=1000
      - UMASK=022
      - TZ=Etc/UTC
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.cleanuparr.entrypoints: websecure
      traefik.http.routers.cleanuparr.rule: Host(`cleanuparr.oscarcorner.com`)
      traefik.http.services.cleanuparr.loadbalancer.server.port: 11011
      traefik.http.routers.cleanuparr.tls.certresolver: route53
  profilarr:
    image: santiagosayshey/profilarr:latest@sha256:8a514f8429cd33885166facc9eb6504fa9ded056c737609e5e8ef32ae0afb350 # No versioned releases available, or :beta
    container_name: profilarr
    ports:
      - "6868:6868"
    <<: [*reverse-proxy-network, *common-restart]
    volumes:
      - ./configs/profilarr:/config
    environment:
      - PUID=1000 # Set to your user ID
      - PGID=1000 # Set to your group ID
      - UMASK=022 # Optional, defaults to 022
      - TZ=UTC # Set your timezone
    restart: unless-stopped
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.profilarr.entrypoints: websecure
      traefik.http.routers.profilarr.rule: Host(`profilarr.oscarcorner.com`)
      traefik.http.services.profilarr.loadbalancer.server.port: 6868
      traefik.http.routers.profilarr.tls.certresolver: route53
  slskd:
    environment:
      - SLSKD_REMOTE_CONFIGURATION=true
    ports:
      - 5030:5030/tcp
      - 5031:5031/tcp
      - 50300:50300/tcp
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.slskd.entrypoints: websecure
      traefik.http.routers.slskd.rule: Host(`slskd.oscarcorner.com`)
      traefik.http.services.slskd.loadbalancer.server.port: 5030
      traefik.http.routers.slskd.tls.certresolver: route53
    volumes:
      - ./configs/slskd:/app:rw
      - /mnt/main/downloads/slskd/music:/music:rw
      - /mnt/main/downloads/slskd/music/organizer.sh:/organizer.sh
      - /mnt/main/downloads/slskd:/books:ro
      - "/mnt/nas/media/music:/organized-music:rw"
    user: 1000:1000
    image: slskd/slskd:0.24.3.65534-f0362798@sha256:f3a13de5dd6a655dbcb53ca8a1468a7eedbe31d8a05012567a984c3e255bdea3
    <<: [*reverse-proxy-network, *common-restart]
  # Network definitions
#
networks:
  reverse-proxy-network:
    external: true
