%YAML 1.1
---
# Define reusable blocks
x-common-env: &common-environment
  - PUID=${PUID}
  - PGID=${PGID}
  - TZ=${TZ}

x-common-restart: &common-restart
  restart: unless-stopped

x-reverse-proxy-network: &reverse-proxy-network
  networks:
    - reverse-proxy-network

x-common-path: &common-paths
  - /mnt/main/downloads/torrent:/downloads/torrent
  - /mnt/main/downloads/usenet:/downloads/usenet # optional

services:
  gluetun:
    cap_add:
      - NET_ADMIN
    container_name: gluetun
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - TZ=Europe/London
      - VPN_SERVICE_PROVIDER=airvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_PRESHARED_KEY=${WIREGUARD_PRESHARED_KEY}
      - FIREWALL_VPN_INPUT_PORTS=6147
      - WIREGUARD_ADDRESSES=10.145.70.146/32
    image: qmcgaw/gluetun:v3.41.1
    networks:
      - reverse-proxy-network
    ports:
      - 6881:6881/udp
      - 6881:6881/tcp
    restart: unless-stopped
    labels:
      traefik.enable: true
      traefik.http.routers.torrent.service: torrent
      traefik.http.routers.torrent.entrypoints: websecure
      traefik.http.routers.torrent.rule: Host(`torrent.oscarcorner.com`)
      traefik.http.services.torrent.loadbalancer.server.port: 7979
      traefik.http.routers.torrent.tls.certresolver: route53
  qbittorrent:
    image: linuxserver/qbittorrent:5.1.4-r2-ls440
    container_name: qbittorrent
    depends_on:
      - gluetun
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=7979
    network_mode: service:gluetun
    <<: *common-restart
    volumes:
      - ./configs/qbittorrent:/config
      - /mnt/main/downloads/:/downloads/

  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4
    container_name: radarr
    environment: *common-environment
    <<: [*reverse-proxy-network, *common-restart]
    ports:
      - 7878:7878
    volumes:
      - ./configs/radarr:/config
      - /mnt/nas/media/movies:/movies # optional
      - /mnt/main/downloads/:/downloads
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.radarr.entrypoints: websecure
      traefik.http.routers.radarr.rule: Host(`radarr.oscarcorner.com`)
      traefik.http.services.radarr.loadbalancer.server.port: 7878
      traefik.http.routers.radarr.tls.certresolver: route53

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.3.0
    container_name: prowlarr
    environment: *common-environment
    <<: [*reverse-proxy-network, *common-restart]
    ports:
      - 9696:9696
    volumes:
      - ./configs/prowlarr:/config
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.prowlarr.entrypoints: websecure
      traefik.http.routers.prowlarr.rule: Host(`prowlarr.oscarcorner.com`)
      traefik.http.services.prowlarr.loadbalancer.server.port: 9696
      traefik.http.routers.prowlarr.tls.certresolver: route53

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:5.0.0-unstable
    container_name: sabnzbd
    depends_on:
      - gluetun
    environment: *common-environment
    <<: [*reverse-proxy-network, *common-restart]
    labels:
      traefik.enable: true
      traefik.http.routers.sabnzbd.entrypoints: websecure
      traefik.http.routers.sabnzbd.rule: Host(`sabnzbd.oscarcorner.com`)
      traefik.http.services.sabnzbd.loadbalancer.server.port: 8080
      traefik.http.routers.sabnzbd.tls.certresolver: route53
    volumes:
      - ./configs/sabnzbd:/config
      - /mnt/main/downloads/usenet:/downloads/usenet
      - /mnt/main/downloads/incomplete:/incomplete-downloads

  sonarr-anime:
    image: lscr.io/linuxserver/sonarr:4.0.16
    container_name: sonarr-anime
    environment: *common-environment
    <<: [*reverse-proxy-network, *common-restart]
    ports:
      - 8990:8989

    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.sonarr-anime.entrypoints: websecure
      traefik.http.routers.sonarr-anime.rule: Host(`sonarr-anime.oscarcorner.com`)
      traefik.http.services.sonarr-anime.loadbalancer.server.port: 8989
      traefik.http.routers.sonarr-anime.tls.certresolver: route53

    volumes:
      - ./configs/sonarr-anime:/config
      - /mnt/nas/media/anime-shows:/tv
      - /mnt/main/downloads/torrent:/downloads/torrent
      - /mnt/main/downloads/usenet:/downloads/usenet # optional

  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.16
    container_name: sonarr
    environment: *common-environment
    <<: [*reverse-proxy-network, *common-restart]
    ports:
      - 8989:8989
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.sonarr.entrypoints: websecure
      traefik.http.routers.sonarr.rule: Host(`sonarr.oscarcorner.com`)
      traefik.http.services.sonarr.loadbalancer.server.port: 8989
      traefik.http.routers.sonarr.tls.certresolver: route53

    volumes:
      - ./configs/sonarr:/config
      - /mnt/nas/media/shows:/tv
      - /mnt/main/downloads/torrent:/downloads/torrent
      - /mnt/main/downloads/usenet:/downloads/usenet # optional
  calibre:
    image: lscr.io/linuxserver/calibre:9.2.1
    container_name: calibre
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}

      - CLI_ARGS=-auth-mode=basic # optional
    <<: [*reverse-proxy-network, *common-restart]
    ports:
      - 8083:8080
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.calibre.entrypoints: websecure
      traefik.http.routers.calibre.rule: Host(`calibre.oscarcorner.com`)
      traefik.http.services.calibre.loadbalancer.server.port: 8080
      traefik.http.routers.calibre.tls.certresolver: route53

    volumes:
      - ./configs/calibre:/config
      - ./configs/calibre-books:/oscar-lib
      - /mnt/nas/media/books:/books
  calibre-web:
    image: lscr.io/linuxserver/calibre-web:0.6.26-ls369
    container_name: calibre-web
    environment: *common-environment
    <<: [*reverse-proxy-network, *common-restart]
    volumes:
      - /mnt/nas/media/books:/books
      - ./configs/calibre-web/data:/config
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.calibre-web.entrypoints: websecure
      traefik.http.routers.calibre-web.rule: Host(`calibre-web.oscarcorner.com`)
      traefik.http.services.calibre-web.loadbalancer.server.port: 8083
      traefik.http.routers.calibre-web.tls.certresolver: route53

  bazarr:
    image: lscr.io/linuxserver/bazarr:1.5.5
    container_name: bazarr
    environment: *common-environment
    <<: [*reverse-proxy-network, *common-restart]
    ports:
      - 6767:6767
    volumes:
      - ./configs/bazarr:/config
      - /mnt/nas/media/movies:/movies
      - /mnt/nas/media/shows/anime:/tv
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.bazarr.entrypoints: websecure
      traefik.http.routers.bazarr.rule: Host(`bazarr.oscarcorner.com`)
      traefik.http.services.bazarr.loadbalancer.server.port: 6767
      traefik.http.routers.bazarr.tls.certresolver: route53
  navidrome:
    image: deluan/navidrome:0.60.3
    user: 1000:1000 # should be owner of volumes
    container_name: navidrome
    ports:
      - "4533:4533"
    <<: [*reverse-proxy-network, *common-restart]
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.navidrome.entrypoints: websecure
      traefik.http.routers.navidrome.rule: Host(`navidrome.oscarcorner.com`)
      traefik.http.services.navidrome.loadbalancer.server.port: 4533
      traefik.http.routers.navidrome.tls.certresolver: route53
    environment:
      ND_SCANSCHEDULE: 1h
      ND_LOGLEVEL: info
      ND_SESSIONTIMEOUT: 24h
      ND_BASEURL: "https://navidrome.oscarcorner.com"
    volumes:
      - "./configs/navidrome:/data"
      - "/mnt/nas/media/music:/music:ro"
  cleanuparr:
    image: ghcr.io/cleanuparr/cleanuparr:2.5.1
    container_name: cleanuparr
    restart: unless-stopped
    ports:
      - "11011:11011"
    volumes:
      - ./configs/cleanuparr:/config
    <<: [*reverse-proxy-network, *common-restart]
    environment:
      - PORT=11011
      - PUID=1000
      - PGID=1000
      - UMASK=022
      - TZ=Etc/UTC
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.cleanuparr.entrypoints: websecure
      traefik.http.routers.cleanuparr.rule: Host(`cleanuparr.oscarcorner.com`)
      traefik.http.services.cleanuparr.loadbalancer.server.port: 11011
      traefik.http.routers.cleanuparr.tls.certresolver: route53
  huntarr:
    image: huntarr/huntarr:latest # No versioned releases available
    container_name: huntarr
    restart: always
    ports:
      - "9705:9705"
    volumes:
      - ./configs/huntarr:/config
    environment:
      - TZ=Etc/UTC
    <<: [*reverse-proxy-network, *common-restart]
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.huntarr.entrypoints: websecure
      traefik.http.routers.huntarr.rule: Host(`huntarr.oscarcorner.com`)
      traefik.http.services.huntarr.loadbalancer.server.port: 9705
      traefik.http.routers.huntarr.tls.certresolver: route53
  profilarr:
    image: santiagosayshey/profilarr:latest # No versioned releases available, or :beta
    container_name: profilarr
    ports:
      - "6868:6868"
    <<: [*reverse-proxy-network, *common-restart]
    volumes:
      - ./configs/profilarr:/config
    environment:
      - PUID=1000 # Set to your user ID
      - PGID=1000 # Set to your group ID
      - UMASK=022 # Optional, defaults to 022
      - TZ=UTC # Set your timezone
    restart: unless-stopped
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.profilarr.entrypoints: websecure
      traefik.http.routers.profilarr.rule: Host(`profilarr.oscarcorner.com`)
      traefik.http.services.profilarr.loadbalancer.server.port: 6868
      traefik.http.routers.profilarr.tls.certresolver: route53
  slskd:
    environment:
      - SLSKD_REMOTE_CONFIGURATION=true
    ports:
      - 5030:5030/tcp
      - 5031:5031/tcp
      - 50300:50300/tcp
    labels:
      traefik.enable: true
      # increase readingTimeouts for the entrypoint used here
      traefik.http.routers.slskd.entrypoints: websecure
      traefik.http.routers.slskd.rule: Host(`slskd.oscarcorner.com`)
      traefik.http.services.slskd.loadbalancer.server.port: 5030
      traefik.http.routers.slskd.tls.certresolver: route53
    volumes:
      - ./configs/slskd:/app:rw
      - /mnt/main/downloads/slskd/music:/music:rw
      - /mnt/main/downloads/slskd/music/organizer.sh:/organizer.sh
      - /mnt/main/downloads/slskd:/books:ro
      - "/mnt/nas/media/music:/organized-music:rw"
    user: 1000:1000
    image: slskd/slskd:0.24.3.65534-f0362798
    <<: [*reverse-proxy-network, *common-restart]
  # Network definitions
#
networks:
  reverse-proxy-network:
    external: true
