name: Renovate
on:
  push:
    branches:
      - main
  schedule:
    # Run daily at 3 AM UTC
    - cron: "5 3 * * *"
  workflow_dispatch: # Allow manual triggers

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v42.0.5
        with:
          configurationFile: renovate/renovate.json
          token: "${{ secrets.RENOVATE_TOKEN }}"
