name: Renovate
on:
  push:
    branches:
      - main
  schedule:
    # Run daily at 3 AM UTC
    - cron: '0 3 * * *'
  workflow_dispatch:  # Allow manual triggers

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v1
        with:
          private-key: ${{ secrets.PRIVATE_KEY }}
          app-id: ${{ secrets.APP_ID }}
          owner: ${{ github.repository_owner }}
          repositories: 'oscar-iac-selfhosted'

      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v42.0.5
        with:
          configurationFile: renovate/renovate.json
          token: '${{ steps.get_token.outputs.token }}'
        env:
          LOG_LEVEL: debug
          RENOVATE_GIT_URL: 'https://x-access-token:${{ steps.get_token.outputs.token }}@github.com/'
